/*
Palette: https://coolors.co/a27228-363364-2e3248-999996-3d2d34
GOLDEN BROWN: #A27228
DELFT BLUE: #363364
SPACE CADET: #2E3248
BATTLESHIP GRAY: #999996
RAISIN BLACK: #3D2D34
*/

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    color: white;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/a3k.jpg');
    font-family: 'Orbitron', Arial, Verdana, sans-serif;
    text-shadow: 0px 8px 8px black;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 200px 0 260px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#activities {
    background-color: #A27228;
    height: 340px;
}

#flex {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#A27228, #A27228, #3D2D34);
    margin: 0 auto;
}

#activities-title {
    font-family: 'Orbitron', Arial, Verdana, sans-serif;
    background-color: #A27228;
    margin: 0 0 10px 0;
    padding: 20px 0 20px 0;
}

img {
    width: 200px;
    height: 200px;
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: ;
    overflow-y: ;
}

.img-description {
    font-weight: 700;
    font-size: 18px;
}

.img-text {
    font-weight: 700;
    font-size: 16px;
}

.container {
    width: 260px;
    padding: 20px;
    background-color: #3D2D34;
    border-radius: 10px;
}

.activities-img {
    width:250px;
    height:230px;
    object-fit: cover;
    border-radius: 10px;
}

#img-john:hover {
    content: url('../images/John_frost.jpg');
}

#img-museum:hover {
    content: url('../images/museum.jpg'); 
}

#img-park:hover {
    content: url('../images/Fietsers_Robbert_Maas.jpg'); 
}

#guide-wrapper {
    height: 350px;
    display: flex;
    align-items: center;
    }

#guide {
    width: 400px;
    margin: 0 auto;
    background-color: #363364;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 8px solid #A27228;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#avatar {
    padding: 10px;
    border-radius: 50%;
}

#guide-description {
    padding: 4px;
}

#guide-title {
    font-family: 'Orbitron', Arial, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 700;
}    

#guide-text {
    font-style: italic;
    padding: 6px;
}

#guide-name {
    font-family: 'Orbitron', Arial, Verdana, sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 4px #A27228;
}

.underline {
    border-bottom: 2px solid white;
}
